In [1]:
import pandas as pd

In [2]:
pa = pd.read_csv(r"D:\Documents\Weather Prediction Project\Presion_atmosferica.csv")

pa = pa.drop(columns = ['CodigoSensor','NombreEstacion', 'Departamento', 'Municipio', 'ZonaHidrografica',
       'Latitud', 'Longitud', 'DescripcionSensor', 'UnidadMedida'])
pa.drop_duplicates()

         CodigoEstacion        FechaObservacion  ValorObservado
0              21206960  07/09/2013 03:00:00 AM         746.900
1              21206960  03/01/2009 07:00:00 PM         744.000
2              21206940  01/29/2012 09:00:00 PM         742.000
3              21205509  12/02/2018 01:50:00 PM         702.358
4              21205012  09/13/2017 04:00:00 AM         754.000
...                 ...                     ...             ...
1013335        21205710  09/11/2023 10:00:00 AM         754.400
1013336        21205710  09/11/2023 03:00:00 PM         751.500
1013337        21205710  09/11/2023 03:00:00 AM         753.100
1013338        21205710  09/11/2023 06:00:00 PM         752.000
1013339        21205710  09/11/2023 04:00:00 PM         751.300

[990720 rows x 3 columns]

pa[["Fecha", "Hora"]] = pa["FechaObservacion"].str.split(' ', n=1, expand=True)
pa["Hora"]  = pd.to_datetime(pa["Hora"], format="%I:%M:%S %p")
pa["Minuto"] = pa["Hora"].dt.strftime("%M")
pa["Hora"] = pa["Hora"].dt.strftime("%H")
pa.drop(columns = "FechaObservacion")

In [3]:
pa["FechaObservacion"] = pd.to_datetime(pa["FechaObservacion"], format="%m/%d/%Y %I:%M:%S %p")

In [4]:
#pa["Fecha"] = pd.to_datetime(pa["Fecha"])

In [18]:
fecha_0 = pd.to_datetime("01/01/2010 12:00:00 AM", format="%m/%d/%Y %I:%M:%S %p")
fecha_0

Timestamp('2010-01-01 00:00:00')

In [19]:
diferencia = pa["FechaObservacion"] - fecha_0

In [20]:
diferencia

0          1285 days 03:00:00
1         -306 days +19:00:00
2           758 days 21:00:00
3          3257 days 13:50:00
4          2812 days 04:00:00
                  ...
1013335    5001 days 10:00:00
1013336    5001 days 15:00:00
1013337    5001 days 03:00:00
1013338    5001 days 18:00:00
1013339    5001 days 16:00:00
Name: FechaObservacion, Length: 1013340, dtype: timedelta64[ns]